
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*SASS*/
/*Nesting
nav {
  width: 900px;
  padding: 20px;
}
nav ul {
  color: #f10086;
}
nav ul li {
  list-style: none;
}
nav ul li:active {
  color: blue;
}
nav ul li a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
*/

/*Nesting II
div {
  width: 100px;
  height: 100px;
  background-color: green;
  padding: 15px;
}
div p {
  font-size: 20px;
  color: white;
  font-family: Arial, sans-serif;
}*/

nav {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

a {
  font-size: 20px;
  color: black;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

/*@charset "UTF-8";*/
/*Modularizacion*/
/*Variables Globales*/
/*Sass II*/
/*Operadores matemáticos
body {*/
  /*Condicionales IF
  background-color: pink;
  padding: 20px;
  width: 1080px;
}*/

/*Bucle FOR
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 6rem;
}

h4 {
  font-size: 8rem;
}

h5 {
  font-size: 10rem;
}

h6 {
  font-size: 12rem;
}
*/

/*Bucle EACH
.pink {
  background-color: pink;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

.blue {
  background-color: blue;
}
*/

/*Mapas
div {
  background-color: green;
  text-align: center;
  padding: 1rem;
  font-size: 35px;
}
*/

/*Extend
.card, .usercard {
  background: #fff;
  border-radius: 4px;
  padding: 16px;
}
*/

/*Mixins/Funciones
.principales {
  border: 10px solid red;
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
}

.img-main {
  border: 5px solid green;
  border-radius: 5px;
  box-shadow: 0px 0px 5px yellow;
}
*/

/*Maps II*/
/*Each II
.boton--twitter {
  background-color: #55acee;
}

.boton--facebook {
  background-color: #3a5795;
}

.boton--send-email {
  background-color: #c25E30;
}

.boton--instagram {
  background-color: #000;
}

.boton--linkedin {
  background-color: #0e76a8;
}

.boton--size-banner {
  background-color: 25px;
}

.banner {
  background-color: #000;
  width: 25px;
}
*/

/*Extend II
.banner-principal, .grupo, .grupo2, .banner-productos {
  width: 100%;
  height: 700px;
  background-color: #f08080;
}

.banner-productos {
  font-size: 25px;
  color: green;
}
*/

/*Mixins III
.banner-2 {
  width: 100%;
  height: 500px;
  background-color: #c25E30;
  color: red;
}
*/

/*Mixins C/ Parámetros
.banner-2 {
  width: 500px;
  height: 50px;
  background-color: blue;
}

.banner-3 {
  width: 200px;
  height: 150px;
  background-color: green;
}
*/

/*Pseudoclases
a:hover {
  background: #f10086;
  border-radius: 5px;
  padding: 5px;
  color: white;
}

a:active {
  background: blueviolet;
  color: black;
}

a:link {
  color: green;
}

a:visited {
  color: red;
}*/


/*first and last child*/
.grupo, .grupo2 {
  width: 500px;
  margin: 20px auto;
  background-color: green;
  padding: 10px;
  font-size: 20px;
}

.parrafos p:first-child {
  background: red;
  color: white;
}

.parrafos p:last-child {
  background: black;
  color: white;
}

/*First and last type*/
.elementos p:first-of-type {
  background: #f10086;
  color: white;
}

.elementos p:last-of-type {
  background: blueviolet;
  color: white;
}

.elementos div:first-of-type {
  background: #f10086;
  color: white;
}

/*nth-child y nth-last-child*/
/*.lista :nth-child(even){
    background: #00cdf1;
    color: black;
}*/
.lista :nth-last-child(4) {
  background: green;
  color: white;
}

/*MediaQueries*/
@media screen and (min-width: 768px) and (max-width: 900px) {
  h1 {
    font-size: 80px;
    color: green;
  }
}
@media screen and (min-width: 901px) and (max-width: 1200px) {
  h1 {
    font-size: 80px;
    color: #000;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-align: center;
  }
}

/*# sourceMappingURL=estilos.css.map */
